In [1]:
import numpy as np
import pandas as pd

In [2]:
salarydf = pd.read_csv("NBA_Salary_96to17.csv")
rankdf = pd.read_csv("seasonRanks.csv")

In [3]:
teamSalaryPerYear = list()
for year in salarydf.Year.unique():
    year_df = salarydf.loc[salarydf.Year == year]
    for team in year_df.Team.unique():
        team_df = year_df.loc[year_df.Team == team]
        salary_total = team_df.Salary.sum(axis=0)
        teamSalaryPerYear.append((year,team,salary_total))

In [4]:
labels = ["Year","Team","Team_Salary"]
teamdf = pd.DataFrame.from_records(teamSalaryPerYear,columns=labels)

In [5]:
combined = pd.merge(rankdf,teamdf,on=['Year','Team'])

In [6]:
combined['Season_Rank'] = combined.groupby('Year')['Wins'].rank(ascending=False)

In [7]:
combined['Salary_Rank'] = combined.groupby('Year')['Team_Salary'].rank(ascending=False)

In [8]:
combined['Div_Season_Rank'] = combined.groupby(['Year','Div'])['Wins'].rank(ascending=False)

In [9]:
combined['Div_Salary_Rank'] = combined.groupby(['Year','Div'])['Team_Salary'].rank(ascending=False)

In [10]:
combined['Diff'] = combined['Salary_Rank'].sub(combined['Season_Rank'],axis=0)

In [14]:
combined

,Year,Div,Team,Wins,Team_Salary,Season_Rank,Salary_Rank,Div_Season_Rank,Div_Salary_Rank,Diff,Div_Diff
0,1996,East,ORL,60,30397000,3.0,3.0,2.0,2.0,0.0,0.0
1,1996,East,NYK,47,38577000,9.5,1.0,4.5,1.0,-8.5,-3.5
2,1996,East,MIA,42,20482000,14.0,23.0,8.0,12.0,9.0,4.0
3,1996,East,WSB,39,21774000,17.5,18.0,10.0,10.0,0.5,0.0
4,1996,East,BOS,33,18229000,21.0,26.0,11.0,13.0,5.0,2.0
5,1996,East,NJN,30,22555000,22.0,14.0,12.0,8.0,-8.0,-4.0
6,1996,East,PHI,18,17408000,28.0,28.0,15.0,14.0,0.0,-1.0
7,1996,East,CHI,72,23177000,1.0,12.0,1.0,6.0,11.0,5.0
8,1996,East,IND,52,23499000,7.0,10.0,3.0,5.0,3.0,2.0
9,1996,East,CLE,47,25730000,9.5,5.0,4.5,3.0,-4.5,-1.5
10,1996,East,ATL,46,21702000,11.5,20.0,6.5,11.0,8.5,4.5
11,1996,East,DET,46,23713000,11.5,9.0,6.5,4.0,-2.5,-2.5
12,1996,East,CHH,41,21829000,15.5,17.0,9.0,9.0,1.5,0.0
13,1996,East,MIL,25,23011000,26.0,13.0,13.0,7.0,-13.0,-6.0
14,1996,East,TOR,21,17205000,27.0,29.0,14.0,15.0,2.0,1.0
15,1996,West,SAS,59,25448000,4.0,6.0,2.0,3.0,2.0,1.0
16,1996,West,UTA,55,21111000,5.0,22.0,3.0,11.0,17.0,8.0
17,1996,West,HOU,48,24814000,8.0,7.0,5.0,4.0,-1.0,-1.0
18,1996,West,DEN,35,19778000,20.0,25.0,10.0,13.0,5.0,3.0
19,1996,West,MIN,26,22192000,24.5,15.0,12.5,7.0,-9.5,-5.5
20,1996,West,DAL,26,21753000,24.5,19.0,12.5,9.0,-5.5,-3.5
21,1996,West,VAN,15,17498000,29.0,27.0,14.0,14.0,-2.0,0.0
22,1996,West,SEA,64,25852000,2.0,4.0,1.0,2.0,2.0,1.0
23,1996,West,LAL,53,19783000,6.0,24.0,4.0,12.0,18.0,8.0
24,1996,West,POR,44,23201000,13.0,11.0,6.0,6.0,-2.0,0.0
25,1996,West,PHO,41,34925000,15.5,2.0,7.0,1.0,-13.5,-6.0
26,1996,West,SAC,39,24156000,17.5,8.0,8.0,5.0,-9.5,-3.0
27,1996,West,GSW,36,22177000,19.0,16.0,9.0,8.0,-3.0,-1.0
28,1996,West,LAC,29,21150000,23.0,21.0,11.0,10.0,-2.0,-1.0
29,1997,East,MIA,61,22421000,3.0,23.0,2.0,11.0,20.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...
621,2017,East,BOS,53,93465328,4.0,21.0,1.0,12.0,17.0,11.0
622,2017,East,CLE,51,127243667,6.5,1.0,2.5,1.0,-5.5,-1.5
623,2017,East,TOR,51,108664969,6.5,6.0,2.5,3.0,-0.5,0.5
624,2017,East,WAS,49,102334382,9.0,12.0,4.0,7.0,3.0,3.0
625,2017,East,ATL,43,96294035,11.5,16.0,5.0,9.0,4.5,4.0
626,2017,East,MIL,42,94012121,13.5,19.0,6.5,10.0,5.5,3.5
627,2017,East,IND,42,94008504,13.5,20.0,6.5,11.0,6.5,4.5
628,2017,East,CHI,41,92571387,16.0,22.0,8.5,13.0,6.0,4.5
629,2017,East,MIA,41,101818405,16.0,13.0,8.5,8.0,-3.0,-0.5
630,2017,East,DET,37,108967919,19.0,5.0,10.0,2.0,-14.0,-8.0
631,2017,East,CHO,36,102675926,20.0,11.0,11.0,6.0,-9.0,-5.0
632,2017,East,NYK,31,103595894,24.5,10.0,12.0,5.0,-14.5,-7.0
633,2017,East,ORL,29,104110336,26.0,8.0,13.0,4.0,-18.0,-9.0
634,2017,East,PHI,28,85763788,27.0,25.0,14.0,14.0,-2.0,0.0
635,2017,East,BRK,20,84083139,30.0,27.0,15.0,15.0,-3.0,0.0
636,2017,West,GSW,67,101725589,1.0,14.0,1.0,6.0,13.0,5.0
637,2017,West,SAS,61,108640621,2.0,7.0,2.0,4.0,5.0,2.0
638,2017,West,HOU,55,90996769,3.0,24.0,3.0,11.0,21.0,8.0
639,2017,West,LAC,51,116237542,6.5,2.0,4.5,1.0,-4.5,-3.5
640,2017,West,UTA,51,80598193,6.5,30.0,4.5,15.0,23.5,10.5
641,2017,West,OKC,47,91339949,10.0,23.0,6.0,10.0,13.0,4.0
642,2017,West,MEM,43,111045893,11.5,4.0,7.0,3.0,-7.5,-4.0
643,2017,West,POR,41,112416239,16.0,3.0,8.0,2.0,-13.0,-6.0
644,2017,West,DEN,40,82573997,18.0,28.0,9.0,13.0,10.0,4.0
645,2017,West,NOP,34,101707386,21.0,15.0,10.0,7.0,-6.0,-3.0
646,2017,West,DAL,33,104042028,22.0,9.0,11.0,5.0,-13.0,-6.0
647,2017,West,SAC,32,96043092,23.0,17.0,12.0,8.0,-6.0,-4.0
648,2017,West,MIN,31,81621379,24.5,29.0,13.0,14.0,4.5,1.0
649,2017,West,LAL,26,95226183,28.0,18.0,14.0,9.0,-10.0,-5.0
650,2017,West,PHO,24,85138847,29.0,26.0,15.0,12.0,-3.0,-3.0

In [13]:
combined.to_csv('combined.csv',index=False)

In [11]:
combined['Div_Diff'] = combined['Div_Salary_Rank'].sub(combined['Div_Season_Rank'],axis=0)

In [61]:
combined.to_csv("combined.csv")

In [53]:
#combined.loc[(combined['Diff'] < 20) & (combined['Diff'] > 5)].sort_values(by='Diff',ascending=False)
#combined.loc[(combined['Diff'] < 20) & (combined['Diff'] > 5) & (combined['Team'] == "ATL")]
combined.loc[(combined['Diff'] < 20) & (combined['Diff'] > 5)]['Team'].value_counts()

UTA    13
SAS    11
HOU    10
DEN     8
LAC     8
ATL     7
CHI     6
DET     6
CHH     6
ORL     6
OKC     6
TOR     6
CLE     6
MIA     5
IND     5
MEM     5
POR     5
NOH     4
SEA     4
LAL     4
BOS     4
GSW     4
WAS     3
MIL     3
SAC     3
MIN     3
CHA     3
PHO     2
NOK     2
DAL     1
PHI     1
NYK     1
NJN     1
NOP     1
Name: Team, dtype: int64

In [60]:
combined.loc[(combined['Diff'] <= 5) & (combined['Diff'] > 0)]['Season_Rank'].mean()

13.235074626865671

In [6]:
yearlyAverage = list()
for year in teamdf.Year.unique():
    average = int(teamdf.loc[teamdf.Year == year].Team_Salary.mean())
    yearlyAverage.append((year,average))

In [7]:
yearlyAverageDF = pd.DataFrame.from_records(yearlyAverage,columns=["Year","Average_Team_Salary"])

In [8]:
yearlyAverageDF["pct_change"] = pd.Series(yearlyAverageDF.Average_Team_Salary.pct_change(axis=0),index=yearlyAverageDF.index)

In [9]:
yearlyAverageDF

    Year  Average_Team_Salary  pct_change
0   1996             23211241         NaN
1   1997             27574696    0.187989
2   1998             32507732    0.178897
3   1999             36636447    0.127007
4   2000             45402181    0.239263
5   2001             51825290    0.141471
6   2002             53744919    0.037040
7   2003             57580406    0.071365
8   2004             57676464    0.001668
9   2005             59122201    0.025066
10  2006             63248999    0.069801
11  2007             64645788    0.022084
12  2008             68796241    0.064203
13  2009             71950424    0.045848
14  2010             70426461   -0.021181
15  2011             67529008   -0.041142
16  2012             66921566   -0.008995
17  2013             70222695    0.049328
18  2014             66523409   -0.052679
19  2015             73001850    0.097386
20  2016             78413568    0.074131
21  2017             98632116    0.257845

In [10]:
#list(teamdf.groupby("Year"))[0][1].sort_values(by="Team_Salary",ascending=False,inplace=True)

In [11]:
grouped = list(teamdf.groupby("Year"))

In [13]:
testdf = list(teamdf.groupby("Year"))[0][1]

In [14]:
testdf.sort_values(by="Team_Salary",ascending=False,inplace=True)

In [15]:
testdf = testdf.reset_index(drop=True)
testdf["Salary_Rank"] = pd.Series(testdf.index+1,index=testdf.index)

In [16]:
testdf

    Year Team  Team_Salary  Salary_Rank
0   1996  NYK     38577000            1
1   1996  PHO     34925000            2
2   1996  ORL     30397000            3
3   1996  SEA     25852000            4
4   1996  CLE     25730000            5
5   1996  SAS     25448000            6
6   1996  HOU     24814000            7
7   1996  SAC     24156000            8
8   1996  DET     23713000            9
9   1996  IND     23499000           10
10  1996  POR     23201000           11
11  1996  CHI     23177000           12
12  1996  MIL     23011000           13
13  1996  NJN     22555000           14
14  1996  MIN     22192000           15
15  1996  GSW     22177000           16
16  1996  CHH     21829000           17
17  1996  WSB     21774000           18
18  1996  DAL     21753000           19
19  1996  ATL     21702000           20
20  1996  LAC     21150000           21
21  1996  UTA     21111000           22
22  1996  MIA     20482000           23
23  1996  LAL     19783000           24
24  1996  DEN     19778000           25
25  1996  BOS     18229000           26
26  1996  VAN     17498000           27
27  1996  PHI     17408000           28
28  1996  TOR     17205000           29

In [35]:
rankdf96 = rankdf.loc[rankdf.Year == 1996]

In [36]:
rankdf96new = rankdf96.sort_values(by="Wins",ascending=False)

In [41]:
rankdf96new

    Year   Div Team  Wins
7   1996  East  CHI    72
22  1996  West  SEA    64
0   1996  East  ORL    60
15  1996  West  SAS    59
16  1996  West  UTA    55
23  1996  West  LAL    53
8   1996  East  IND    52
17  1996  West  HOU    48
9   1996  East  CLE    47
1   1996  East  NYK    47
10  1996  East  ATL    46
11  1996  East  DET    46
24  1996  West  POR    44
2   1996  East  MIA    42
12  1996  East  CHH    41
25  1996  West  PHO    41
26  1996  West  SAC    39
3   1996  East  WSB    39
27  1996  West  GSW    36
18  1996  West  DEN    35
4   1996  East  BOS    33
5   1996  East  NJN    30
28  1996  West  LAC    29
20  1996  West  DAL    26
19  1996  West  MIN    26
13  1996  East  MIL    25
14  1996  East  TOR    21
6   1996  East  PHI    18
21  1996  West  VAN    15

In [49]:
rankdf["Season_Rank"] = rankdf.groupby('Year')['Wins'].rank(ascending=False)

In [60]:
teamdf['Salary_Rank'] = teamdf.groupby('Year')['Team_Salary'].rank(ascending=False)

In [64]:
combined = pd.merge(rankdf,teamdf,on=["Year","Team"])

In [69]:
c2017 = combined.loc[combined.Year == 2017]

In [71]:
c2017["Div_Season_Rank"] = c2017.groupby('Div')['Wins'].rank(ascending=False)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [73]:
c2017["Div_Salary_Rank"] = c2017.groupby('Div')['Team_Salary'].rank(ascending=False)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [74]:
c2017

,Year,Div,Team,Wins,Season_Rank,Team_Salary,Salary_Rank,Div_Season_Rank,Div_Salary_Rank
621,2017,East,BOS,53,4.0,93465328,21.0,1.0,12.0
622,2017,East,CLE,51,6.5,127243667,1.0,2.5,1.0
623,2017,East,TOR,51,6.5,108664969,6.0,2.5,3.0
624,2017,East,WAS,49,9.0,102334382,12.0,4.0,7.0
625,2017,East,ATL,43,11.5,96294035,16.0,5.0,9.0
626,2017,East,MIL,42,13.5,94012121,19.0,6.5,10.0
627,2017,East,IND,42,13.5,94008504,20.0,6.5,11.0
628,2017,East,CHI,41,16.0,92571387,22.0,8.5,13.0
629,2017,East,MIA,41,16.0,101818405,13.0,8.5,8.0
630,2017,East,DET,37,19.0,108967919,5.0,10.0,2.0
631,2017,East,CHO,36,20.0,102675926,11.0,11.0,6.0
632,2017,East,NYK,31,24.5,103595894,10.0,12.0,5.0
633,2017,East,ORL,29,26.0,104110336,8.0,13.0,4.0
634,2017,East,PHI,28,27.0,85763788,25.0,14.0,14.0
635,2017,East,BRK,20,30.0,84083139,27.0,15.0,15.0
636,2017,West,GSW,67,1.0,101725589,14.0,1.0,6.0
637,2017,West,SAS,61,2.0,108640621,7.0,2.0,4.0
638,2017,West,HOU,55,3.0,90996769,24.0,3.0,11.0
639,2017,West,LAC,51,6.5,116237542,2.0,4.5,1.0
640,2017,West,UTA,51,6.5,80598193,30.0,4.5,15.0
641,2017,West,OKC,47,10.0,91339949,23.0,6.0,10.0
642,2017,West,MEM,43,11.5,111045893,4.0,7.0,3.0
643,2017,West,POR,41,16.0,112416239,3.0,8.0,2.0
644,2017,West,DEN,40,18.0,82573997,28.0,9.0,13.0
645,2017,West,NOP,34,21.0,101707386,15.0,10.0,7.0
646,2017,West,DAL,33,22.0,104042028,9.0,11.0,5.0
647,2017,West,SAC,32,23.0,96043092,17.0,12.0,8.0
648,2017,West,MIN,31,24.5,81621379,29.0,13.0,14.0
649,2017,West,LAL,26,28.0,95226183,18.0,14.0,9.0
650,2017,West,PHO,24,29.0,85138847,26.0,15.0,12.0

In [25]:
result01 = pd.merge(testdf,rankdf96,on=["Team","Year"])

In [26]:
result01

    Year Team  Team_Salary  Salary_Rank   Div  Wins
0   1996  NYK     38577000            1  East    47
1   1996  PHO     34925000            2  West    41
2   1996  ORL     30397000            3  East    60
3   1996  SEA     25852000            4  West    64
4   1996  CLE     25730000            5  East    47
5   1996  SAS     25448000            6  West    59
6   1996  HOU     24814000            7  West    48
7   1996  SAC     24156000            8  West    39
8   1996  DET     23713000            9  East    46
9   1996  IND     23499000           10  East    52
10  1996  POR     23201000           11  West    44
11  1996  CHI     23177000           12  East    72
12  1996  MIL     23011000           13  East    25
13  1996  NJN     22555000           14  East    30
14  1996  MIN     22192000           15  West    26
15  1996  GSW     22177000           16  West    36
16  1996  CHH     21829000           17  East    41
17  1996  WSB     21774000           18  East    39
18  1996  DAL     21753000           19  West    26
19  1996  ATL     21702000           20  East    46
20  1996  LAC     21150000           21  West    29
21  1996  UTA     21111000           22  West    55
22  1996  MIA     20482000           23  East    42
23  1996  LAL     19783000           24  West    53
24  1996  DEN     19778000           25  West    35
25  1996  BOS     18229000           26  East    33
26  1996  VAN     17498000           27  West    15
27  1996  PHI     17408000           28  East    18
28  1996  TOR     17205000           29  East    21